body {
  font-size: 16px;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg_image {
  position: absolute;
  filter: blur(10px);
  width: 100%;
  height: 100vh;
}

.main_container {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main_info {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.logo {
  margin: 40px 0 0 70px;
  font-weight: 800;
}

.main_info_block_text {
  display: flex;
  align-items: flex-end;
  margin: 0 0 80px 70px;
}

.temp {
  font-size: 6em;
  height: 85%;
}

.city_time_block,
.type_block {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.type_block {
  align-items: center;
}

.city {
  font-size: 3em;
}

.time {
  font-size: 0.8em;
}

.type_icon img {
  width: 40px;
  height: 40px;
}

.type_text {
  font-size: 0.8em;
}

.other_info {
  width: 30%;
  height: 100%;
  background-color: #2b6684;
  font-size: 0.7em;
  color: #c7cedf;
}

.other_info_wrapper {
  position: relative;
  margin-left: 40px;
}

.search_block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search_block form {
  display: contents;
}

.search_block input {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgba(176, 219, 241, 0.6);
  border-bottom-width: 1px;
  padding-bottom: 5px;
  outline: none;
  color: white;
}

.search_block input::placeholder {
  color: #c7cedf;
  font-size: 0.9em;
}

.search_block button {
  width: 60px;
  height: 60px;
  background-color: ghostwhite;
  border: transparent;
}

.search_block button img {
  width: 20px;
}

.error_city {
  color: white;
  margin-top: 10px;
  padding: 5px;
  width: fit-content;
}

.other_info h3 {
  margin: 50px 0 30px 0;
  color: white;
}

.cloudy_info,
.humidity_info,
.wind_info,
.rain_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cloudy_info h4,
.humidity_info h4,
.wind_info h4,
.rain_info h4 {
  margin: 0;
  opacity: 0.8;
  font-weight: 500;
}

.cloudy_info p,
.humidity_info p,
.wind_info p,
.rain_info p {
  margin-right: 30px;
  color: white;
}

@media (max-width: 1024px) {
  .main_container {
    width: 80%;
    flex-direction: column;
  }
  .main_info {
    width: 100%;
  }
  .other_info {
    width: 100%;
  }
  .search_block {
    justify-content: center;
  }
  .other_info h3 {
    margin: 15px auto;
    width: fit-content;
  }
  .cloudy_info,
  .humidity_info,
  .wind_info,
  .rain_info {
    justify-content: space-evenly;
  }
}

@media (max-width: 768px) {
  .main_info_block_text {
    margin: 0 0 35px 70px;
  }
  .other_info_wrapper {
    margin-left: 0;
  }
}

@media (max-width: 428px) {
  body {
    font-size: 10px;
  }
  .logo {
    margin: 40px 0 0 25px;
  }
  .main_info_block_text {
    margin: 40px 0 25px 25px;
  }
}

@media (max-width: 375px) {
  .city_time_block {
    margin-left: 10px;
  }
  .type_block {
    margin-left: 10px;
  }
  .search_block button {
    width: 40px;
    height: 40px;
  }
  .search_block button img {
    width: 15px;
  }
  .search_block input::placeholder {
    font-size: 0.7em;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 8px;
  }
}
